* {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

html,
body {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0;

}

.navbar{
  background-color: rgba(255,255,255,0.45);
}

.nav-link2{
  font-weight: bolder;
  font-size: 20px;
  color:#484971;
  
  width:5%;
  transition: .5s;
}
 .nav-link2:hover{
 color: hsl(351, 69%, 58%);
  font-weight: 900;
   font-size: 25px;
 
 width:100%;

}
 a.nav-link:active {
   color: hsl(351, 69%, 58%);
   font-weight: 900;
   font-size: 25px;
   border-bottom: solid #de4a61;
   width: 100%;

 }

.carousel-caption {
  position:absolute;
  z-index: 30;
  text-align:center;
  top:30%;
  margin:auto; 
  padding: auto;
/*
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
*/}




.carousel-image{
  height:inherit;
  width: auto;
  opacity: 0.3;
  margin: auto;
  padding: auto;
  object-fit: cover;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .carousel-image{ 
    height: 568px;
  }
  .carousel-caption {
    position: absolute;
    z-index: 30;
    text-align: center;
    top: 30%;
    margin: auto;
    padding: auto;
    /*
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
*/
  }

}
.pos{
  position: absolute;
  margin: auto ;
  padding: auto ;
  z-index: 0 ;
  right:46%;
  bottom: 45%;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .carousel-image {
    height: 568px;
  }
  .carousel-caption {
    position: absolute;
    z-index: 30;
    text-align: center;
    top: 30%;
    margin: auto;
    padding: auto;
    /*
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
*/
  }
  .pos {
    
    right: 20px;
    bottom: 2%;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .carousel-image {
    height: 768px;
  }

  .carousel-caption {
    position: absolute;
    z-index: 30;
    text-align: center;
    top: 30%;
    margin: auto;
    padding: auto;
    /*
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
*/
  }

  .pos {

    right: 45%;
    bottom: 35%;
  }

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  .carousel-image {
    height: 480px;
  }
    .pos {
      
      right: 20px;
      bottom: 5px ;
    }
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  .carousel-image {
    height: 1024px;
  }

  .pos {

    right: 47%;
    bottom: 45%;
  }
}