* {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

html,
body {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0;

}
/* Nav Style  */
.navbar{
  background-color: rgba(255,255,255,0.45);
}

a.nav-link2{
  font-weight: bolder;
  font-size: 20px;
  color:#484971;
  
  width:5%;
  transition: .5s;
}
 a.nav-link2:hover{
 color: hsl(351, 69%, 58%);
  font-weight: 900;
   font-size: 25px;
 
 width:100%;

}
.nav-item a.nav-link:active {
   color: hsl(351, 69%, 58%);
   font-weight: 900;
   font-size: 25px;
   border-bottom: solid #de4a61;
   width: 100%;

 }

 /* nav Styles End  */

/* Picture Caption Hover Effect  */
.container2 {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container2:hover .overlay {
  height: 100%;
}

.text {
  color: #484971;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
}
/* Picture Caption hover Effect end  */

.carousel-inner {
  width: 100%;
  
  
}

/* main page Carousel */
.carousel-item img {
  opacity: 0.2;
  width: 100%;
  height : 640px;
  object-fit: cover;
}

/* carosel Caption for main page  */
.carousel-caption {
  position : absolute;
  text-align: center;
  top : 30%;
  position:absolute;
  z-index: 30px;
 
}

/* Position of Join us button and hover */
.pos {
  position: absolute;
  z-index: 60px;
  bottom : 0;
  right: 0;
  font-size: 25px;

}
.pos:hover{
     border: 1px solid #888;
    }


    /* preloader effect */
.preloader {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;


}
 .filter-green {
   fill: red;
  
 }
.preloader.loaded {
 
  display: none;
}

    /* preloader  */